@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: "Poppins", sans-serif;

}

.top-content {
    background-image: url(./images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--Very-Pale-Cyan);
}

.header button {
    width: 8rem;
    font-size: 1rem;
}

.header button:hover {
    color: var(--Grayish-Blue);
}

.header-button {
    width: 15rem;
    background-color: var(--Pink);
}

.header-button:hover {
    background-color: hsl(322, 86%, 69%);
}

.middle-cards p {
    font-size: .92rem;
    color: var(--Grayish-Blue);
}

.middle-cards .card .card-image img {
    width: 100%;
}

.footer-content {
    background-color: var(--Very-Dark-Cyan);
}

.contact-links img {
    width: 15px;
    height: 15px;
    margin-right: 2rem;
}

.contact-links p {
    font-size: .9rem;
}

.footer-content ul li {
    list-style: none;
    margin-bottom: 1rem;
}

.footer-content ul li a {
    text-decoration: none;
    color: white;
}

.footer-content ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.social-links li {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 100%;
    padding: .5rem;
}

.social-links li:hover {
    border: 1px solid var(--Pink);
}

@media screen and (min-width: 767px) {
    .top-content {
        background-image: url(./images/bg-hero-desktop.svg);
        background-repeat: no-repeat;
        background-color: var(--Very-Pale-Cyan);
    }

    .grid-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .grid-content-first {
        text-align: left;
    }

    .middle-cards .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 3rem;
    }

    .card-details {
        text-align: left;
    }

    .middle-cards .card .card-image img {
        width: 100%;
    }

    .community-card {
        height: 8rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .footer-content {
        display: flex;
        align-items: center;
    }

    .copyright {
        display: none;
    }
}