@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

img{
    max-width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit';
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 1px);
}

.attribution { font-size: 17px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


.container{
    background-color: var(--white);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 1.3rem;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 330px;
    height: 500px;
} 

.container img{
    border-radius: 0.625rem;
    margin-bottom: 1rem;
}

.text-01{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--dark-blue);
}

.text-02{
    font-weight: 400;
    color: var(--grayish-blue);
    text-align: center;
    font-size: 1.1rem;
}