*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

@media (min-width: 640px){
    .container{
        width: 350px;
    }
}

:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue: hsl(217, 54%, 11%);
    --Very-dark-blue: hsl(216, 50%, 16%);
    --Very-dark-blue: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body{
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    height: calc(100vh - 1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: hsl(216, 50%, 16%);
    border-radius: 0.5rem;
    padding: 1.5rem;
    padding-bottom: 0px;
    margin-bottom: 1rem;
    max-width: 330px;
}

.container .main-image{
    position: relative;
}
.container .main-image div{
    position: absolute;
    width: 100%;
    opacity: 0;
    height: 94%;
    border-radius: 0.4rem;
    z-index: 999;
    top: 0;
    background-color: hsl(178, 100%, 50%, 52%);
    transition: opacity 0.3s ease-in-out;
}
.container .main-image div:hover{
    opacity: 1;
    cursor: pointer;
}
.container .main-image div img{
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
}

img{
    max-width: 100%;
}

.main-bg{
    margin-bottom: 0.8rem;
    border-radius: 0.5rem;
}

.container .avatar{
    width: 25%;
    border: 1px solid #fff;
    border-radius: 1rem;
}

.container h1{
    color: var(--White);
    font-family: sans-serif;
    cursor: pointer;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
}
.container h1:hover{
    color: var(--Cyan);
}

.container p{
    color: var(--Soft-blue);
    font-size: 1rem;
    margin-bottom: 0.8rem;
    font-weight: 300;
    line-height: 1.6rem;
}

.container ul{
    list-style: none;
    display: flex;
    margin-bottom: 0.8rem;
}
.container hr{
    border: 0.1px solid hsl(215, 32%, 27%);
    width: 100%;
    margin-bottom: 0.8rem;
    padding: 0px;
}

.container .ether{
    color: var(--Cyan);
    font-weight: 600;
    font-size: 1rem;
}

.des{
    position: relative;
    margin-bottom: -0.2rem;
}

.container .clock{
    margin-left: 5.9rem;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 1rem;
}

.des-01{
    position: relative;
    margin-bottom: -0.2rem;
}

.container .author{
    color: var(--Soft-blue);
    margin-left: -5.2rem;
    font-size: 1rem;
    margin-top: 8px;
    margin-right: -1rem;
    font-weight: 300;
}

.container .author span{
    color: #fff;
    cursor: pointer;
}
.container .author span:hover{
    color: var(--Cyan);
}