@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

body {
    font-family: "Poppins", sans-serif;
    background-image: url(./images/bg-intro-mobile.png);
    background-color: var(--Red);
}

.section {
    padding: 2rem .3rem;
}

.left-side h1 {
    font-size: 2.2rem;
}

.left-side p {
    font-size: 1.4rem;
}

.card-heading p {
    background-color: var(--Blue);
    margin-bottom: 0;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
}

.form-container input {
    font-weight: bold;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px var(--Grayish-Blue);
    margin-bottom: 2rem;
}

.form-container input:focus {
    outline: none;
    box-shadow: 0 0 0 1.5px var(--Blue);
}

.form-button button {
    background-color: var(--Green);
    box-shadow: 0 5px 0 hsl(153, 49%, 35%);
    transition: all .3s ease-in-out;
}

.form-button button:hover {
    box-shadow: 0 5px 0 hsl(153, 55%, 53%);
    background-color: hsl(153, 67%, 59%);
}

.form-container p {
    margin-bottom: 0;
}

footer {
    margin-top: 2rem;
}

.form-container #error-message {
    color: var(--Red);
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
    font-style: italic;
    position: absolute;
    right: 2rem;
}

.form-container .error-message-first,
.form-container .error-message-last,
.form-container .error-message-email,
.form-container .error-message-password {
    display: none;
}

#error-icon {
    position: absolute;
    right: 3rem;
}

.icon1 {
    top: 40.7rem;
}

.icon2 {
    top: 46.5rem;
}

.icon3 {
    top: 52rem;
}

.icon4 {
    top: 57.6rem;
}

@media (min-width: 767px) {
    body {
        background-image: url(./images/bg-intro-desktop.png);
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .left-side h1 {
        font-size: 4rem;
    }

    .left-side p {
        font-size: 1.5rem;
    }

    .card-heading {
        text-align: center;
        font-size: 1.4rem;
    }

    .form-button button {
        font-size: 1.5rem;
    }

    .form-container p {
        font-size: 1.5rem;
        text-align: center;
    }

    .form-container .error-message-first,
    .form-container .error-message-last,
    .form-container .error-message-email,
    .form-container .error-message-password {
        display: block;
    }

    .form-container #error-message {
        color: var(--Red);
        font-size: 1rem;
        font-weight: 500;
        text-align: right;
        font-style: italic;
        position: absolute;
        right: 8rem;
    }

    #error-icon {
        position: absolute;
        right: 8rem;
    }

    .icon1 {
        top: 16.3rem;
    }

    .icon2 {
        top: 22rem;
    }

    .icon3 {
        top: 27.5rem;
    }

    .icon4 {
        top: 33rem;
    }

    .form-container .error-message-first {
        top: 19rem;
    }

    .form-container .error-message-last {
        top: 24.5rem;
    }

    .form-container .error-message-email {
        top: 30rem;
    }

    .form-container .error-message-password {
        top: 35.5rem;
    }
}

.hidden {
    display: none;
}