@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

body {
    font-family: "Poppins", sans-serif;
    background-image: url(./images/bg-intro-desktop.png);
    background-color: var(--Red);
}

.left-side h1 {
    font-size: 2.2rem;
}

.left-side p {
    font-size: 1.4rem;
}

.card-heading p {
    background-color: var(--Blue);
    margin-bottom: 0;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
}

.form-container input {
    font-weight: bold;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0 0 0 .6px var(--Grayish-Blue);
    margin-bottom: 1rem;
    caret-color: hsl(248, 32%, 49%);
}

.form-container input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--Blue);
    caret-color: hsl(248, 32%, 49%);
}



footer {
    margin-top: 10rem;
}